name: CI

on:
  push:
    branches: [ main ]

jobs:
  ci:
    runs-on: ubuntu-latest

    strategy:
        fail-fast: true
        matrix:
            php:
                - '8.2'
            multisite: [false]
            wordpress: ['']

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js (.nvmrc)
        uses: actions/setup-node@v1
        with:
          node-version: "16.20.2"

      - name: npm ci
        run: |
          npm ci

      - name: Composer Install
        uses: php-actions/composer@v1
        with:
          args: install

      - name: Set up PHP
        uses: shivammathur/setup-php@4bd44f22a98a19e0950cbad5f31095157cc9621b
        with:
            php-version: '${{ matrix.php }}'
            ini-file: development
            coverage: none

      - name: Override PHP version in composer.json
        run: composer config platform.php ${{ matrix.php }}

      - name: Setup docker
        run: |
          pwd  # This line prints the current working directory
          npm start

      - name: Docker container debug information
        run: |
            npm run wp-env run tests-mysql mysql -- --version
            npm run wp-env run tests-wordpress php -- --version
            npm run wp-env run tests-wordpress php -m
            npm run wp-env run tests-wordpress php -i
            npm run wp-env run tests-wordpress /var/www/html/wp-content/plugins/myplugin/vendor/bin/phpunit -- --version
            npm run wp-env run tests-wordpress locale -a

      - name: Run e2e tests
        run: |
          pwd  # This line prints the current working directory
          npx playwright install
          npm run test:e2e

      - name: Run php unit tests
        run: |
          echo "Current directory testing: $(pwd)"
          npm run wp-env run tests-wordpress "ls -lah"
          npm run wp-env run tests-wordpress "composer --version"
          npm run wp-env run tests-wordpress "cd wp-content/plugins/myplugin && ls -lah"
          npm run wp-env run --env-cwd='/var/www/html/wp-content/plugins/myplugin' tests-wordpress "ls -lah"
          npm run wp-env run --env-cwd='wp-content/plugins/myplugin' tests-wordpress vendor/bin/phpunit -c phpunit.xml --verbose


